.header {
    /* width: 100%; */
    padding: 40px 32px;

    background-color: black;
    border-bottom: 2px solid gray;

    display: flex;
    align-items: center;

    justify-content: space-between;
}

.logo {
    margin-left: 25px;
}

.profile img {
    border-radius: 50%;

    width: 40px;
    height: 40px;

    margin-right: 8px;

}

.profile {
    display: flex;
    align-items: center;

    color: white;

}